USE [master]
GO
/****** Object:  Database [security]    Script Date: 18.09.2022 13:35:38 ******/
CREATE DATABASE [security]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'security', FILENAME = N'D:\DataBase\security.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'security_log', FILENAME = N'D:\DataBase\security_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [security].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [security]
GO
/****** Object:  User [scientist]    Script Date: 18.09.2022 13:35:38 ******/
CREATE USER [scientist] FOR LOGIN [scientist] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [developer]    Script Date: 18.09.2022 13:35:38 ******/
CREATE USER [developer] FOR LOGIN [developer] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [common_user]    Script Date: 18.09.2022 13:35:38 ******/
CREATE USER [common_user] FOR LOGIN [common_user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 18.09.2022 13:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Client_ID] [int] NOT NULL,
	[Full_name] [varchar](50) NOT NULL,
	[Date_of_birth] [date] NOT NULL,
	[Contact_phone] [varchar](50) NOT NULL,
	[Passport_data] [varchar](50) NULL,
	[Registration_address] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[Client_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Contact_phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Passport_data] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 18.09.2022 13:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[Contract_ID] [int] NOT NULL,
	[License_number_ID] [int] NULL,
	[Client_ID] [int] NULL,
	[Date_of_conclusion] [date] NOT NULL,
	[Date_of_termination] [date] NOT NULL,
	[Service_address] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Contract_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 18.09.2022 13:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[License_number_ID] [int] NOT NULL,
	[Full_name] [varchar](50) NOT NULL,
	[Contact_phone] [varchar](50) NOT NULL,
	[Work_experience] [varchar](50) NOT NULL,
	[brigade_name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[License_number_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Contact_phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incedents_and_Violations]    Script Date: 18.09.2022 13:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incedents_and_Violations](
	[IaV_ID] [int] NOT NULL,
	[Contract_ID] [int] NULL,
	[Call_date] [date] NOT NULL,
	[Reason] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IaV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services_in_Contracts]    Script Date: 18.09.2022 13:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services_in_Contracts](
	[Contract_ID] [int] NOT NULL,
	[Service_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Service_ID] ASC,
	[Contract_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services_S]    Script Date: 18.09.2022 13:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services_S](
	[Service_ID] [int] NOT NULL,
	[Service_s_name] [varchar](50) NOT NULL,
	[Price_per_month] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[Service_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [R_1] FOREIGN KEY([License_number_ID])
REFERENCES [dbo].[Employees] ([License_number_ID])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [R_1]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [R_2] FOREIGN KEY([Client_ID])
REFERENCES [dbo].[Clients] ([Client_ID])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [R_2]
GO
ALTER TABLE [dbo].[Incedents_and_Violations]  WITH CHECK ADD  CONSTRAINT [R_3] FOREIGN KEY([Contract_ID])
REFERENCES [dbo].[Contracts] ([Contract_ID])
GO
ALTER TABLE [dbo].[Incedents_and_Violations] CHECK CONSTRAINT [R_3]
GO
ALTER TABLE [dbo].[Services_in_Contracts]  WITH CHECK ADD  CONSTRAINT [R_4] FOREIGN KEY([Contract_ID])
REFERENCES [dbo].[Contracts] ([Contract_ID])
GO
ALTER TABLE [dbo].[Services_in_Contracts] CHECK CONSTRAINT [R_4]
GO
ALTER TABLE [dbo].[Services_in_Contracts]  WITH CHECK ADD  CONSTRAINT [R_5] FOREIGN KEY([Service_ID])
REFERENCES [dbo].[Services_S] ([Service_ID])
GO
ALTER TABLE [dbo].[Services_in_Contracts] CHECK CONSTRAINT [R_5]
GO
USE [master]
GO
